body{
  background-image: url('https://static.vecteezy.com/system/resources/previews/005/642/747/non_2x/abstract-wavy-shape-on-blue-and-white-layer-background-modern-curve-pattern-ocean-color-simple-flat-design-you-can-use-for-cover-brochure-template-poster-banner-web-print-illustration-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;


}